@import './css/estilos.css';
@import './css/modal.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

a {
  color: inherit;
}

input {
  color: inherit;
  outline: none;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--cor-bg);
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.header > img {
  cursor: pointer;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  background-color: #dbe3e9;
  border-radius: 5px;
  color: #c6a063;
  border: 1px solid;
  font-size: 1.125rem;
  width: 350px;
}

.search input:focus {
  background-color: #fff;
  box-shadow: 0 0 10px #c6a063;
}

.search img {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.search img:hover {
  transform: scale(1.1);
}

.header-pedido {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: 'Opens Sans', sans-serif;
}

.header-pedido > i {
  padding: 10px;
  color: #6a502b;
  cursor: pointer;
  transform: scale(1.5);
  position: relative;
}

#contador {
  font-size: 0.5rem;
  position: absolute;
  top: 0;
  color: var(--cor-p);
  opacity: 0;
}

#navbar {
  padding: 20px 10px;
  cursor: pointer;
  display: none;
}

#navbar div {
  content: '';
  width: 40px;
  height: 3px;
  background-color: #6a502b;
  box-shadow: 0 10px 0 #6a502b, 0 -10px 0 #6a502b;
}

.menu {
  font: 700 4rem 'Roboto';
  color: var(--cor-titulo);
  margin: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.menu::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: var(--cor-primaria);
  display: inline-block;
  position: absolute;
  bottom: -10px;
}

.menu-opcoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}

.menu-opcoes li {
  font-family: 'Arial';
  padding: 10px 20px;
  color: var(--cor-primaria);
  cursor: pointer;
}

.menu-opcoes li:hover,
.menu-opcoes li.ativo {
  color: var(--cor-bg);
  background-color: var(--cor-primaria);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 120px;
}

.item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.item:hover {
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.item.escolhido {
  box-shadow: 3px 5px 10px rgba(198, 160, 99, 0.7);
}

.item > div {
  position: relative;
}

.fa-dash {
  color: #fff !important;
  padding: 20px;
}

.add {
  background-color: rgba(198, 160, 99, 0.7);
  color: #fff;
  transform: scale(2);
  position: absolute;
  left: 24%;
  top: 25%;
  padding: 35px 57px;
  transition: 0.3s;
  opacity: 0;
}

.item:hover .add {
  opacity: 1;
}

.item img {
  width: 255px;
  height: 167px;
  border-radius: 5px;
  border: 4px solid var(--cor-primaria);
  margin-right: 20px;
}

.informacao-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px dotted var(--cor-p);
  margin-bottom: 16px;
}

.informacao-item h3,
.informacao-item span {
  color: var(--cor-titulo);
  font: 600 1rem 'Roboto';
  letter-spacing: 0.25rem;
}

.informacao-item h3 {
  margin-right: 20px;
}

.informacao-item span {
  color: var(--cor-primaria);
}

.descricao-item {
  color: var(--cor-p);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto 120px;
  }

  .add {
    padding: 34px 58px;
  }
}

@media (max-width: 1000px) {
  #navbar {
    display: initial;
  }
  .header .search,
  .header-pedido {
    display: none;
  }
}

@media (max-width: 600px) {
  main {
    gap: 20px;
  }

  .menu {
    font-size: 2.5rem;
  }

  .menu::after {
    width: 40px;
    bottom: -5px;
  }

  .menu-opcoes li {
    font-size: 0.75rem;
  }

  .informacao-item h3,
  .informacao-item span {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }

  .descricao-item {
    font-size: 0.875rem;
  }

  .menu-opcoes {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  main {
    gap: 30px;
  }

  .menu-opcoes li {
    font-size: 0.75rem;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 5px;
  }

  .item {
    grid-template-columns: 1fr;
  }

  .item img {
    width: 98.5%;
    height: 300px;
    margin-bottom: 15px;
  }

  .add {
    padding: 68px 103px;
    left: 25%;
    top: 24%;
  }

  .item.escolhido {
    box-shadow: 5px 5px 10px rgba(198, 160, 99, 0.7);
  }

  .informacao-item h3,
  .informacao-item span {
    font-size: 1rem;
    letter-spacing: 0.125rem;
  }

  .descricao-item {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .item img {
    height: 250px;
  }
}

@media (max-width: 300px) {
  .menu {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .item img {
    height: 150px;
  }
}
