@import "./css/estilos.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

input {
  color: inherit;
  outline: none;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--cor-bg);
  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}

.header > img {
  cursor: pointer;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  width: 400px;
  background-color: #dbe3e9;
  border-radius: 5px;
  color: #c6a063;
  border: 1px solid;
  font-size: 1.125rem;
}

::-webkit-input-placeholder,
input:-moz-placeholder {
  color: rgba(106, 80, 43, 0.4);
}

.search img {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.search img:hover {
  transform: scale(1.1);
}

.header ul {
  display: flex;
  gap: 30px;
  font-family: "Opens Sans", sans-serif;
}

.header ul li > a {
  padding: 10px 15px;
  color: #6a502b;
  font-weight: 600;
}

#pedido {
  padding: 10px 15px;
  color: #6a502b;
  font-size: 1.125rem;
  letter-spacing: 1.125px;
}

.container-bg {
  background-image: url(./imgs/Fundo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 541px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hamburguer {
  position: absolute;
  top: 80px;
  left: 250px;
  z-index: 99;
}

.fritas {
  position: absolute;
  top: 35px;
  left: 130px;
}

.refri {
  position: absolute;
  bottom: 60px;
  left: 110px;
}

.descricao-capa {
  align-self: center;
  font-family: "Open Sans", sans-serif;

}

.descricao-capa p {
  font-weight: 400;
  font-size: 48px;
  width: 100%;
  color: #faca7d;
  margin-bottom: 30px;
  margin-left: 100px;
}

.descricao-capa span {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 10px;
  color: #59411d;
  text-transform: uppercase;
  -webkit-text-stroke: 2px #faca7d;
}

.menu {
  font: 700 4rem "Roboto";
  color: var(--cor-titulo);
  margin: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.menu::after {
  content: "";
  width: 80px;
  height: 4px;
  background-color: var(--cor-primaria);
  display: inline-block;
  position: absolute;
  bottom: -10px;
}

.menu-opcoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 60px;
}

.menu-opcoes li {
  font-family: "Arial";
  padding: 10px 20px;
  color: var(--cor-primaria);
  cursor: pointer;
}

.menu-opcoes li:hover,
.menu-opcoes li.ativo {
  color: var(--cor-bg);
  background-color: var(--cor-primaria);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 120px;
}

.item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 20px;
}

.item img {
  width: 255px;
  height: 150px;
  border-radius: 5px;
  border: 4px solid var(--cor-primaria);
  margin-right: 20px;
}

.informacao-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px dotted var(--cor-p);
  margin-bottom: 16px;
}

.informacao-item h3,
.informacao-item span {
  color: var(--cor-titulo);
  font: 600 1rem "Roboto";
  letter-spacing: 0.25rem;
}

.informacao-item h3 {
  margin-right: 20px;
}

.informacao-item span {
  color: var(--cor-primaria);
}

.descricao-item {
  color: var(--cor-p);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto 120px;
  }
}

@media (max-width: 600px) {
  main {
    gap: 20px;
  }

  .menu {
    font-size: 2.5rem;
  }

  .menu::after {
    width: 40px;
    bottom: -5px;
  }

  .menu-opcoes li {
    font-size: 0.75rem;
  }

  .informacao-item h3,
  .informacao-item span {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }

  .descricao-item {
    font-size: 0.875rem;
  }

  .menu-opcoes {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  main {
    gap: 30px;
  }

  .menu-opcoes li {
    font-size: 0.75rem;
    padding: 6px 12px;
    border-width: 1px;
    border-radius: 5px;
  }

  .item {
    grid-template-columns: 1fr;
  }

  .item img {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
  }

  .informacao-item h3,
  .informacao-item span {
    font-size: 1rem;
    letter-spacing: 0.125rem;
  }

  .descricao-item {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .item img {
    height: 250px;
  }
}

@media (max-width: 300px) {
  .menu {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .item img {
    height: 150px;
  }
}
